<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- We get the name of the app out of the information fetched -->
    <title>{{app.name}}</title>
    <link href="/static/screen.css" media="screen" rel="stylesheet" />
    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta content="" property="og:title" />
    <meta content="" property="og:type" />
    <meta content="" property="og:url" />
    <meta content="" property="og:image" />
    <meta content="" property="og:site_name" />
    <meta content="{{appId}}" property="fb:app_id" />
    <script type="text/javascript">function popup(pageURL, title,w,h) { var left = (screen.width/2)-(w/2); var top = (screen.height/2)-(h/2); var targetWin = window.open( pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left ); }</script>
    <!--[if IE]>
      <script>
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <!-- By passing a valid access token here, we are able to display -->
    <!-- the user's images without having to download or prepare -->
    <!-- them ahead of time -->
    <header class="clearfix">
      <form method="post" action="/word/">
        <p id="picture" style="background-image: url(https://graph.facebook.com/me/picture?type=normal&access_token={{token}})"></p>
        <div>
          <input type="text" name="word" autocomplete="off">
          <input type="hidden" name="token" value="{{token}}">
          <div id="verb-app">
            <ul>
              <li>
                <a class="facebook-button blank" href="#" onclick="document.forms[0].submit()">
                  <span class="blank">Verb it</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </header>
  </body>
</html>
